@page "/users"



<MudGrid >
        <MudItem xs="12" sm="12" md="12">
            <MudText Typo="Typo.h3">Users</MudText>
            <MudText Typo="Typo.subtitle1">Just get some data from the api.</MudText>
        </MudItem>
        <MudItem xs="4" sm="8" md="8">
            <MudTable Items="@users" Hover="true" Breakpoint="Breakpoint.Md" Loading="@(users==null)"
                      LoadingProgressColor="Color.Info">
                <HeaderContent>
                    <MudTh>Name</MudTh>
                    <MudTh>Email</MudTh>
                    <MudTh></MudTh>

                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Name">@context.Name</MudTd>
                    <MudTd DataLabel="Email">@context.Email</MudTd>
                    <MudTd DataLabel="Actions"></MudTd>

                </RowTemplate>
            </MudTable>
        </MudItem>
    </MudGrid>
<button class="btn btn-outline-info" @onclick="LoadUsers">Refresh Users ! ... error in initialized, data is loaded in store but not shown</button>
